flow.json
[{"id":"d23aa00e.03e3c","type":"tab","label":"Freedge","disabled":false,"info":""},{"id":"872fbb4e.17b3b8","type":"rpi-gpio in","z":"d23aa00e.03e3c","name":"DoorSensor","pin":"8","intype":"up","debounce":"25","read":true,"x":110,"y":80,"wires":[["88e16697.d20108"]]},{"id":"816561ed.e97b3","type":"delay","z":"d23aa00e.03e3c","name":"Door is close, waiting 2 secs","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":140,"wires":[["371904f4.d462ec"]]},{"id":"371904f4.d462ec","type":"function","z":"d23aa00e.03e3c","name":"Send data to cloud","func":"return {payload: \"Door is closed\"}","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["71aea46f.cfd2ac"]]},{"id":"71aea46f.cfd2ac","type":"debug","z":"d23aa00e.03e3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"88e16697.d20108","type":"switch","z":"d23aa00e.03e3c","name":"DoorStatus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["70ea9e12.2dbdd"],["816561ed.e97b3"]]},{"id":"70ea9e12.2dbdd","type":"function","z":"d23aa00e.03e3c","name":"Door is open","func":"return {payload: \"Door is opening\"}","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["53a7e679.b33738"]]},{"id":"53a7e679.b33738","type":"debug","z":"d23aa00e.03e3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":60,"wires":[]}]