flow.json
[{"id":"d23aa00e.03e3c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"edf8b41b.5bbd08","type":"inject","z":"d23aa00e.03e3c","name":"","topic":"","payload":"helloworld","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["f6206c95.82ff2"]]},{"id":"227f1a86.0d7176","type":"debug","z":"d23aa00e.03e3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":260,"wires":[]},{"id":"f6206c95.82ff2","type":"function","z":"d23aa00e.03e3c","name":"","func":"var newString = msg.payload.replace(\"world\", \" Freedege\")\nreturn {payload: newString}","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["227f1a86.0d7176"]]}]