flow.json
[{"id":"d23aa00e.03e3c","type":"tab","label":"Door Sensor","disabled":false,"info":""},{"id":"90a7d41f.0b4fa8","type":"subflow","name":"Read Sensors Data","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"ea51872f.450f28"}]}],"out":[{"x":740,"y":60,"wires":[{"id":"ea51872f.450f28","port":0}]}]},{"id":"872fbb4e.17b3b8","type":"rpi-gpio in","z":"d23aa00e.03e3c","name":"DoorSensor","pin":"8","intype":"up","debounce":"25","read":false,"x":90,"y":100,"wires":[["88e16697.d20108"]]},{"id":"816561ed.e97b3","type":"delay","z":"d23aa00e.03e3c","name":"Door is close, waiting 2 secs","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":160,"wires":[["ab7eebf4.a26808"]]},{"id":"88e16697.d20108","type":"switch","z":"d23aa00e.03e3c","name":"DoorStatus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":80,"wires":[["70ea9e12.2dbdd"],["7ddd63e8.21f2ac"]]},{"id":"70ea9e12.2dbdd","type":"function","z":"d23aa00e.03e3c","name":"Door is open","func":"return {payload: \"Door is opening\"}","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["53a7e679.b33738"]]},{"id":"53a7e679.b33738","type":"debug","z":"d23aa00e.03e3c","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":60,"wires":[]},{"id":"ab7eebf4.a26808","type":"subflow:90a7d41f.0b4fa8","z":"d23aa00e.03e3c","name":"","x":850,"y":160,"wires":[["b6bb3b7.0d9d2c8"]]},{"id":"ea51872f.450f28","type":"function","z":"90a7d41f.0b4fa8","name":"(TODO) Read Sensor Data","func":"return {payload: \"Read sensor data\"}","outputs":1,"noerr":0,"x":420,"y":60,"wires":[[]]},{"id":"f7a4b854.bf6b48","type":"comment","z":"90a7d41f.0b4fa8","name":"A Trigger Event","info":"","x":140,"y":120,"wires":[]},{"id":"96f8eb55.6c90d8","type":"comment","z":"90a7d41f.0b4fa8","name":"Sensor Data in JSON format","info":"","x":840,"y":120,"wires":[]},{"id":"b6bb3b7.0d9d2c8","type":"debug","z":"d23aa00e.03e3c","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":160,"wires":[]},{"id":"7ddd63e8.21f2ac","type":"delay","z":"d23aa00e.03e3c","name":"Rate Limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":160,"wires":[["816561ed.e97b3"]]}]